.appicon {
//    margin-top: 10px;
//    margin-bottom: 10px;
//    margin-right: 20px;
//    margin-left: 20px;
}

//.ui-page .ui-content .ui-listview {
//    margin-right: 0px; !important;
//}

//li .ui-collapsible-heading-collapsed .ui-collapsible-heading-toggle {
//  margin-bottom: 10px; !important;
//}

//.ui-li {
//  padding-top: 10px
//  padding-bottom: 10px
//}

.appbrain_margin{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
}